<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>

    <div class="jumbotron">
       
    
    <div class="container">
        <div class="row">
           
            <% data.forEach(item=>{%>
                <div class="col-md-4 mt-2 mb-2">
                <div class="card " style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= item.Country%></h5>
                        <p class="card-text">
                            <span class="badge bg-danger">Total Confirmed :</span> <%= item.TotalConfirmed%>
                        </p>
                        <p class="card-text">
                            <span class="badge bg-danger">Total Deaths :</span> <%= item.TotalDeaths%>
                        </p>
                        <form action="/addToDb" method="post">
                            <input type="text" name="country" value="<%=item.Country%>" hidden>
                            <input type="text" name="totalConfirmed" value="<%=item.TotalConfirmed%>" hidden>
                            <input type="text" name="totalDeaths" value="<%=item.TotalDeaths%>" hidden>
                            <input type="text" name="totalRecovered" value="<%=item.TotalRecovered%>" hidden>
                            <input type="text" name="date" value="<%=item.Date%>" hidden>
                            <button class="btn btn-primary mt-4">add To list </button>
                        </form>
                    </div>
                </div>
            </div>
                <%})%>

        </div>
    </div>
    </div>

    <footer>

    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>